.modal {
  position: absolute;
  background-color: var(--dark);
  padding: 1rem 1rem 2.5rem 1rem;
  color: var(--light);
  border-radius: var(--b-radius);
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  position: fixed;
  background-color: var(--accent-half);
}
